body {
    font-family: 'Roboto', sans-serif; /* Cambiar la tipografía */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .user-profile {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info {
    margin-top: 5px;
  }
  
  .user-info .name,
  .user-info .lastname {
    display: block;
    font-size: 1.1em;
  }
  
  .option {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
      border: 2px solid transparent;
      border-radius: 10px;
  }
  
  .option:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .option:focus,
  .option:active {
      outline: none;
  }
  
  .option img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
  }
  
  .option span {
      font-size: 1em;
  }
  
  .option:hover {
      border-color: #ffca28;
  }
  
  .option:active,
  .option:focus {
      border-color: #ffca28;
  }
  
/* ticket-upload-styles.css */

/* Ajustes para el formulario */
.content {
  text-align: left; /* Alinear el contenido del formulario a la izquierda */
  margin-top: 50px;
  margin-left: 280px; /* Ajuste del margen izquierdo para dejar espacio para el sidebar */
  padding: 20px; /* Añadir un poco de espacio alrededor del contenido */
  box-sizing: border-box; /* Incluir el padding en el cálculo del tamaño */
}

.form-container {
  max-width: 500px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
}

.input-group {
  margin-bottom: 20px; /* Espacio entre los grupos de entrada */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="file"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espacio alrededor del contenido */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Incluir el padding en el cálculo del tamaño */
}

select {
  width: 100%; /* Ancho completo */
}

button {
  width: 100%; /* Ancho completo */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px; /* Espacio encima del mensaje de error */
}
