body {
    font-family: 'Roboto', sans-serif; /* Cambiar la tipografía */
    margin: 0;
    padding: 0;
}

/* Estilo básico del sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ancho del sidebar */
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo del perfil del usuario en el sidebar */
.user-profile {
    text-align: center;
    margin-bottom: 40px;
}

    .user-profile img {
        width: 100px; /* Tamaño de la imagen del perfil */
        height: 100px;
        border-radius: 50%; /* Redondear la imagen del perfil */
        margin-bottom: 10px;
    }

.user-info {
    margin-top: 5px;
}

.user-info .name,
.user-info .lastname {
    display: block;
    font-size: 1.1em; /* Tamaño del nombre y apellido */
}