body {
  font-family: 'Roboto', sans-serif; /* Cambiar la tipografía */
  margin: 0;
  padding: 0;
}

/* Estilo básico del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ancho del sidebar */
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilo del perfil del usuario en el sidebar */
.user-profile {
  text-align: center;
  margin-bottom: 40px;
}

.user-profile img {
  width: 100px; /* Tamaño de la imagen del perfil */
  height: 100px;
  border-radius: 50%; /* Redondear la imagen del perfil */
  margin-bottom: 10px;
}

.user-info {
  margin-top: 5px;
}

.user-info .name,
.user-info .lastname {
  display: block;
  font-size: 1.1em; /* Tamaño del nombre y apellido */
}

/* Estilo de las opciones en el sidebar */
.option {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.option img {
  width: 50px; /* Tamaño del icono */
  height: 50px;
  margin-right: 15px;
}

.option span {
  font-size: 1em; /* Tamaño del texto */
}

.content {
  text-align: center;
  margin-top: 50px;
  margin-left: 280px; /* Ajuste del margen izquierdo para dejar espacio para el sidebar */
}

h1 {
  font-size: 5em; /* Ajustar el tamaño del mensaje de bienvenida */
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Añadir un margen superior */
}

.option2 {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid transparent; /* Agregar un borde transparente */
  border-radius: 10px; /* Agregar bordes redondeados */
}

.option2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.option2:focus,
.option2:active {
  outline: none; /* Eliminar el contorno al hacer clic */
}

.option2 img {
  width: 150px; /* Ajustar el tamaño de la imagen */
  height: 150px;
  margin-bottom: 10px;
}

.option2 span {
  font-size: 1.5em; /* Ajustar el tamaño del texto */
}

/* Agregar estilos al hover */
.option2:hover {
  border-color: #ffca28; /* Cambiar el color del borde al pasar el cursor */
}

/* Agregar estilos cuando está seleccionado */
.option2:active,
.option2:focus {
  border-color: #ffca28; /* Cambiar el color del borde al seleccionar */
}
